.main {
  padding: 0 30px 30px;
}

.right {
  display: inline-block;
  width: 70%;
  vertical-align: top;
}

.left {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  box-sizing: border-box;
  padding-right: 20px;
}

@media all and (max-width: 1023px) {
  .main {
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px;
  }

  .left {
    width: 100%;
    order: 2;
  }

  .right {
    width: 100%;
    order: 1;
    margin-bottom: 30px;
  }
}
