.main {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin: 0 -10px 15px -10px;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    background-color: #F5F5F5;
  }
}

.itemSelected {
  background-color: #F5F5F5;
}

.link {
  display: block;
  color: #6c1d5f;
  text-decoration: none;
}
