.main {
  padding: 0;
  margin: 30px 30px 30px 22px;
  list-style: none;
}

.item {
  display: inline-block;
  margin-right: 15px;
  padding: 7px;
  border: solid 2px transparent;
  border-radius: 5px;
}

.itemSelected {
  border-color: #6c1d5f;
}

.link {
  text-decoration: none;
  color: #06a99c;

  &:hover {
    text-decoration: underline;
  }
}

@media all and (max-width: 1023px) {
  .main {
    margin: 15px 15px 15px 7px;
  }
}
